body {
  background:#222;
  display:flex;
  justify-content:center;
  margin-top:40px;
  font-family:Arial;
}

#gameContainer {
  width:800px;
}

/* HEADER */
#header {
  position:relative;
  height:50px;
}

#title {
  color:hotpink;
  text-align:center;
  margin:0;
}

#score {
  position:absolute;
  right:0;
  top:10px;
  color:white;
  font-size:18px;
}

/* GAME */
#game {
  position:relative;
  width:800px;
  height:300px;
  background:linear-gradient(#7ec8ff,#ccefff);
  border-radius:12px;
  overflow:hidden;
}

/* SUELO */
#game::after {
  content:"";
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;
  background:#0b6623;
}

/* PLAYER */
#player {
  position:absolute;
  bottom:40px;
  left:80px;
  width:90px;
  z-index:5;
}

/* OBSTACLES */
#sushi,
#obstacle2 {
  position:absolute;
  bottom:40px;
  right:-120px;
  width:80px;
  display:none;
}

/* SCREENS */
.screen {
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.4);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  z-index:10;
}

.hidden { display:none; }

button {
  padding:12px 28px;
  font-size:18px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

/* JUMP */
.jump {
  animation:jump .7s ease-out;
}

@keyframes jump {
  0% { bottom:40px; }
  50% { bottom:190px; }
  100% { bottom:40px; }
}

