body {
  background: #222;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

#gameContainer {
  text-align: center;
}

#title {
  position: absolute;
  top: 12px; /* altura dentro del cielo */
  left: 50%;
  transform: translateX(-50%);
  color: hotpink;
  font-size: 32px;
  z-index: 10;
  pointer-events: none; /* no estorba clicks */
}

#game {
  position: relative;
  width: 800px;
  height: 300px;
  background: linear-gradient(#7ec8ff, #ccefff);
  border-radius: 10px;
  overflow: hidden;
}

/* suelo */
#game::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #0b6623;
  z-index: 1;
}

/* jugador */
#player {
  position: absolute;
  bottom: 40px;
  left: 80px;
  width: 90px;
  z-index: 2;
}

/* sushi */
#sushi {
  position: absolute;
  bottom: 40px;
  right: -120px;
  width: 80px;
  z-index: 2;
}

/* pantallas */
.screen {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hidden {
  display: none;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

/* salto */
.jump {
  animation: jump 0.7s ease-out;
}

@keyframes jump {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 220px;
  }
  100% {
    bottom: 40px;
  }
}

#startScreen,
#gameOverScreen {
  z-index: 20;
}
#obstacle2 {
  position: absolute;
  bottom: 40px;
  right: -120px;
  width: 80px;
  display: none; /* inicia oculto */
}
#score {
  position: absolute;
  top: 45px;
  right: 30px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  z-index: 10;
}

